<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>[JobForeigner] Verify your email address</title>
  </head>
  <body>
    <table style="margin:0 auto;width:100%;padding:0;border-spacing:0">
      <tbody>
        <tr>
          <td>
            <table style="margin:0 auto;padding:0;border-spacing:0;min-width:50%;max-width:100%;width:calc(230400px — 48000%);max-width:100%;">
              <tbody>
                <!-- Logo -->
                <tr>
                  <td style="padding:2rem 0 2rem">
                    <a href="{{baseUrl}}">
                      <img src="https://avatars.githubusercontent.com/u/193306804?s=200&v=4" width="64" height="64" style="display:block;border:0">
                    </a>
                  </td>
                </tr>
                <!-- Title -->
                <tr>
                  <td style="padding-bottom:2rem">
                    <h1 style="margin:0;font-size:1.6rem;line-height:1.2;">
                      <strong>JobForeigner</strong>
                      <span style="font-weight:normal;color:#888888">— Verify your email address</span>
                    </h1>
                  </td>
                </tr>
                <!-- Content -->
                <tr>
                  <td style="padding-bottom:3rem">
                    <p style="margin:0;font-size:1rem">Please verify your email address using the code below to complete account setup.</p>
                  </td>
                </tr>
                <!-- Authentication Code -->
                <tr>
                  <td style="padding-bottom:3rem">
                    <p style="margin:0;font-size:2rem;font-weight:bold;">
                      {{code}}
                    </p>
                  </td>
                </tr>
                <!-- Content -->
                <tr>
                  <td style="padding-bottom:2rem">
                    <p style="margin:0;margin-bottom:1rem;font-size:1rem;font-weight:bold;">Don't know why you received this?</p>
                    <p style="margin:0;margin-bottom:0.5rem;font-size:1rem">Someone who couldn't remember their account details probably gave your email address by mistake. You can safely ignore this email.</p>
                    <p style="margin:0;font-size:1rem">To protect your account, don't forward this email or give this code to anyone.</p>
                  </td>
                </tr>
                <!-- Footer -->
                <tr>
                  <td style="font-size:0.8rem;color:#888888;text-align:left;padding-bottom:2rem">
                    D138, Digital Bldg, Kumoh National Institute of Technology,<br>61, Daehak-ro, Gumi-si, Gyeongsangbuk-do, Republic of Korea
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
